* text=auto eol=lf

*.cfg        text eol=lf
*.ini        text eol=lf
*.j2         text eol=lf
*.json       text eol=lf
*.json5      text eol=lf
*.md         text eol=lf
*.py         text eol=lf
*.rego       text eol=lf
*.sh         text eol=lf
*.toml       text eol=lf
*.yaml       text eol=lf
*.yml        text eol=lf

Makefile   text eol=lf
LICENSE    text eol=lf

*.7z   binary
*.bmp  binary
*.gif  binary
*.gz   binary
*.ico  binary
*.jpeg binary
*.jpg  binary
*.pdf  binary
*.png  binary
*.tar  binary
*.tgz  binary
*.zip  binary

.github/         export-ignore
.gitignore       export-ignore
.gitattributes   export-ignore
.editorconfig    export-ignore
.markdownlint-cli2.jsonc export-ignore
.pre-commit-config.yaml  export-ignore
CHANGELOG.md     export-ignore
CODE_OF_CONDUCT.md export-ignore
CONTRIBUTING.md  export-ignore
SECURITY.md      export-ignore
SUPPORT.md       export-ignore
