#jinja2: lstrip_blocks: True, trim_blocks: True
# =========================================================================================== #
# {{ ansible_managed }}
# =========================================================================================== #
{% for __key__, __value__ in config.faillock.settings | dictsort %}
{% if __value__ is sameas true %}
{{ __key__ }}
{% else %}
{{ __key__ }} = {{ __value__ }}
{% endif %}
{% endfor %}
