#jinja2: lstrip_blocks: True, trim_blocks: True
# =========================================================================================== #
# {{ ansible_managed }}
# =========================================================================================== #
{% for __key__, __value__ in config.sysctl.settings | dictsort %}
{{ __key__ }} = {{ __value__ }}
{% endfor %}
